@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 style="margin-left:50%;" class="display-4">Welcome</h1>
    <p style="margin-left:50%;"><a href="https://localhost:7124/Home/LandingPage">Landing Page</a>.</p>
    <p style="margin-left:50%;"><a href="https://localhost:7124/Home/DataPage">Data Page</a>.</p>
    <p style="margin-left:50%;"> <a href="https://localhost:7124/Home/HomePage">Home Page</a>.</p>
    <p style="margin-left:50%;"> <a href="https://localhost:7124/Home/ChatGPTPage">ChatGPT Page</a>.</p>
    <p style="margin-left:50%;"> <a href="https://localhost:7124/Account/EmailVerification">EmailVerification</a>.</p>
    <p style="margin-left:50%;"> <a href="https://localhost:7124/Account/UserProfile">User Profile</a>.</p>
    <p style="margin-left:50%;"> <a href="https://localhost:7124/Files">User Files</a>.</p>
    

</div>
