﻿@{
    ViewData["Title"] = "Email Verification";
}


<head>
    <link href="~/css/EmailVerification/ButtonStyle.css" rel="stylesheet">
</head>

<body style="background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;">
     <!-- HIDDEN PREHEADER TEXT -->
    <div
        style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Montserrat'Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
        Go anywhere with anywheel!</div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> <!-- LOGO -->
        <tr>
            <td bgcolor="#f4f4f4" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="center"
                            style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #333333; font-family:'Montserrat'Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 25px;">
                            <img style="margin-top:55px; image-si" src="~/img/EmailVerification/undraw_message_sent_re_q2k222l.svg" alt="Descriptive text" width="320" height="220" /> <img /> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="center"
                            style="padding: 20px 30px 40px 30px; color: #000000; font-family:'Montserrat bold' Helvetica, Arial, sans-serif; font-size: 16px; font-weight:600; line-height: 25px;">
                            <h3>
                                Kindly verify your email to complete your account registration.
                            </h3>
                            
                                <div class="container">

                                <a asp-controller="Account" asp-action="Login" class="button type--A">
                                        <div class="button__line"></div>
                                        <div class="button__line"></div>
                                   
                                        <span class="button__text">Login</span>
                                        <div class="button__drow1"></div>
                                        <div class="button__drow2"></div>
                                    </a>
                                </div>
                           
                            
                        </td>
                    </tr>
                    
                    
                    
                    <tr>
                        <td bgcolor="#ffffff" align="center"
                            style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #000000; font-family:'Montserrat'Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">Contact us at <a href="#" target="_blank"
                                    style="color: #29ABE2;"> datagpt2024@gmail.com</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="center"
                            style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #333333; font-family:'Montserrat'Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 25px;">
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMWIyNjNiIiBkPSJNMjAgNEg0Yy0xLjEgMC0xLjk5LjktMS45OSAyTDIgMThjMCAxLjEuOSAyIDIgMmgxNmMxLjEgMCAyLS45IDItMlY2YzAtMS4xLS45LTItMi0ybS0uNCA0LjI1bC03LjA3IDQuNDJjLS4zMi4yLS43NC4yLTEuMDYgMEw0LjQgOC4yNWEuODUuODUgMCAxIDEgLjktMS40NEwxMiAxMWw2LjctNC4xOWEuODUuODUgMCAxIDEgLjkgMS40NCIvPjwvc3ZnPg==" /> <img /> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#f4f4f4" align="center"
                            style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;">
                            <br>
                            <p style="margin: auto;"><a href="#" target="_blank" style="color: #111111; font-weight: 700;"
                                    </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

